@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



body {
  font-family: "Poppins", sans-serif;
  
}


.logpg {
  display: flex;
  justify-content: center;
  align-items: center;
 width: 100vw;
  height: 100vh;
  
}

.images {
  width: 62.5vw ;
  height: 100vh;
}

.formContainer {
 display: flex;

background-color: white;
  height: 100vh;
  width: 37.5vw;
}

.login{font-size: 39px;
font-weight: 900;
font-family: sans-serif;  margin-top: 4.6rem;}

.loginform{
 display: inline-block;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  width: 30.5vw ;
  
  
  }

.forminside{margin-top: 3.5rem;}

.labl{font-size: 1.3rem;
font-weight: 700;
color: rgb(100, 100, 100);}


.flabl{margin-top: 4.5rem;}

.myformCustominput {
  font-family: inherit;
  
  border: none;
  
width: 100%;
  
  padding: .3rem 0 0 0;
  background: transparent;
  font-size: 1.2rem;
  outline: none;
  border-bottom: 2px solid rgb(107, 100, 100);
  border-radius: 0%;
  
  
}
.myformCustominput:focus{
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(107, 100, 100);

}

.bttn{display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 9rem;
  height: 3rem;
  
  border-radius: 20px;
margin-left: auto;
margin-top: 3.5rem;}

.emptyspace{
  background-color:rgba(19,46,158,.8);
  top: 0;
  left: 0;
  width: 62.5vw;
  height: 100%;
  display: inline-block;
  margin: 0 0 0 0;
  border:0 0 0 0;
}   
.heading{
  display: flex;
 
  justify-content: center;
  text-align: center;
 
  
}
.header{
  display: flex;
  
  position: fixed;
 top: 6rem;
  font-weight: normal;
  font-size: 3rem;
   color: rgb(255, 255, 255);
   font-weight: 500;
   text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
   -3px 0px 7px rgba(81,67,21,0.8), 
   0px 4px 7px rgba(81,67,21,0.8);


 }  
 .chead{
  display: flex;
  position: fixed;
  top: 26rem;
  font-size: 3rem;
  color: rgb(255, 255, 255);
   font-weight: 500;
   text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
   -3px 0px 7px rgba(81,67,21,0.8), 
   0px 4px 7px rgba(81,67,21,0.8);

 }

 .jhead{
  display: flex;
  position: fixed;
  top: 24rem;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
   font-weight: 500;
   text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
   -3px 0px 7px rgba(81,67,21,0.8), 
   0px 4px 7px rgba(81,67,21,0.8);
 }