@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  height: fit-content;
  width: 1300px;
  margin-top: 50px;
}

.row1 {
  border: 1px solid #000;
  height: fit-content;
  display: flex;
}

.row1 .colLogo {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #000;
}

.colLogo img {
  width: 85%;
  height: 100px;
  padding: 10px 0;
}

.row1 .colCompanyDetails {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.colCompanyDetails pre {
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
}

.colCompanyDetails .bold {
  font-weight: 600;
}

.colCompanyDetails .l1 {
  font-size: 1.5rem;
}

.colCompanyDetails .l2 {
  font-size: 1rem;
}

.colCompanyDetails .l3 {
  font-size: 1.4rem;
}

.colCompanyDetails .l5 {
  font-size: 1.4rem;
}

.row2 {
  border: 1px solid #000;
  border-top: none;
  height: 35px;
  padding: 6px 10px;
}

.row2 p {
  font-weight: bold;
}

.row3 {
  display: flex;
}

.row3 .col1 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
}

.row3 .col1 p {
  padding-top: 150px;
  padding-left: 10px;
}

.row3 .col2 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}

.row3 .col2 pre {
  font-weight: 600;
  margin: 10px 0;
}

.row4 {
  border: 1px solid #000;
  border-top: none;
  height: 55px;
}

.row4 pre {
  width: 60%;
  font-size: 15px;
  padding: 4px 0 5px 5px;
}

.row5 {
  display: flex;
  text-align: center;
  height: 40px;
  font-weight: 600;
}

.row5 .align {
  padding: 5px;
}

.row5 .col1 {
  width: 53px;
  border: 1px solid #000;
  border-top: none;
}

.row5 .col2 {
  width: 540px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row5 .col3 {
  width: 120px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row5 .col4 {
  width: 140px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row5 .col5 {
  width: 120px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row5 .col6 {
  width: 140px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row5 .col7 {
  width: 160px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row5 .col8 {
  width: 150px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row6 {
  display: flex;
}

.row6 .col1 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
}

.row6 .col2 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
  font-weight: 600;
  line-height: 30px;
  padding-left: 300px;
}

.row7 {
  display: flex;
  height: 30px;
}

.row7 .col1 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
}

.row7 .col2 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}

.row7 .col2 pre {
  font-weight: bold;
}

.row8 {
  display: flex;
  height: 30px;
}

.row8 .col1 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
  padding-top: 3px;
  padding-left: 3px;
}

.row8 .col2 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
  text-align: center;
  padding-top: 3px;
}

.row8 .bold {
  font-weight: bold;
}

.row9 {
  display: flex;
  height: fit-content;
}

.row9 .col1 {
  width: 50%;
  border: 1px solid #000;
  border-top: none;
  padding-top: 3px;
}

.row9 .col1 p {
  font-size: 15px;
  padding-right: 20px;
}

.row9 .col2 {
  width: 18%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
  text-align: center;
  padding-top: 3px;
}

.row9 .col2 .row1 {
  height: 37px;
  border: none;
}

.row9 .col2 .row12 {
  height: 40px;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align-last: left;
}

.row9 .col2 .row3 {
  height: 40px;
  border: none;
}

.row9 .col3 {
  width: 10%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}

.row9 .col3 .row1 {
  height: 40px;
  border: none;
  padding-left: 25px;
  padding-top: 2px;
}

.row9 .col3 .row1 p {
  text-align: center;
}

.row9 .col3 .row2 {
  height: 40px;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row9 .col3 .row3 {
  height: 40px;
  border: none;
}

.row9 .col4 {
  width: 12%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}

.row9 .col4 .row1 {
  height: 40px;
  border: none;
  padding-left: 50px;
  padding-top: 3px;
}

.row9 .col4 .row2 {
  height: 40px;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row9 .col4 .row3 {
  height: 40px;
  border: none;
}

.row9 .col5 {
  width: 10%;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}

.row9 .col5 .row1 {
  height: 40px;
  border: none;
  padding-left: 45px;
  padding-top: 3px;
}

.row9 .col5 .row2 {
  height: 40px;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.row9 .col5 .row3 {
  height: 40px;
  border: none;
}

.row10 {
  border: 1px solid #000;
  border-top: none;
  padding: 5px;
}

.gap {
  margin-bottom: 30px;
}

.App{
    text-align: center;
  }
.downloadLink {
    font-size: large;
    font-weight: bold;
  }