.monthlyform{
  /*  margin-top: 8em; */
 
border: none;
}
.ctitle{display: flex;
justify-content: center;}
.title{
    display: flex;
    align-items: center;
    width: 100%;
   justify-content: center;
    background-color: #030e3f;
    color:  aliceblue;
    height: 3rem;
    
}

.shRow{
    overflow: hidden; 
    margin: .5rem 0 .5rem 0;
    
}

.shCol{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    
   
    border: none;
}
.table{
    display: flex;
    justify-content: center;
    
    margin: 1rem;}