.btn{
    
    width:max-content;
    display: flex;
   
    margin-bottom:10px;
    margin-left: 1.5rem;
}
.formcon{
    width: 100%;
    height:max-content;
   
    padding:.5em;   
  /* background-color: #E6E6E6;   */

  background-color: transparent;  
   
    
}
.header{
    text-align: center;
}
.formholder{
    width: 100%;
    padding:0%;
    height:fit-content;
    display:flex;
    margin:0%;
    
    
   
}

.label{
    height:38px;
}

.btnextra{
    margin-top: 30px;
}

.title{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #170462;
    color: aliceblue;
    height: 3em;
   
    
   
    
}
.tlhead{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*    New Style */


  

  .formBorder {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: 15px;
    
    border-radius: 0%;
    background-color: transparent;
  }
  
  .formBorder:focus {
    border: none;
    border-bottom: 1px solid rgb(119, 118, 117);
    border: none;
    outline: none; /* Remove any additional outline */
    box-shadow: none; /* Remove any additional box-shadow */
    background-color: transparent; /* Optional: Add background color on focus if needed */
  }
  /* Existing styles... */

.formBorder {
  /* Existing styles... */

  /* Add the following style to set a specific height for the input */
  height: 40px; /* Adjust the height value as needed */
}



/* Existing styles... */
